/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

html { font-size: 16px; }
body { cursor:default; }
h1 { margin:20px 10px 0; font-size:18px; color:#666; height:41px/*avoids flash*/; }
h2 { margin:10px 0; font-size:16px; color:#666; text-transform:uppercase; }
a:hover { text-decoration:underline; }
hr { margin:10px 0; color:grey; }
.right { float: right; }
.flash { position: fixed; left: 45%; top: 10px; background-color: yellow; color: black !important; font-weight: bold; }
.link { color: #3b82f6; }
.topbar {
  a {
    color: white;
    margin-right: 10px;
  }
  .current {
    text-decoration: underline;
  }
}
.filters {
  a {
    padding: 2px 4px;
  }
  .current {
    background: #fbcfe8;
    border-radius: 4px;
  }
}
.subheader {
  padding: 4px 0 4px 0;
  margin: 0;
  font-weight: bold;
}
.tippy-box {
  font-size: 12px;
}
.element.htmx-swapping {
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.htmx-request .tohide {
  display: none;
}
.htmx-request .hidden {
  display: inline;
}
